<div class='row'>
    <div class='small-12 columns'>
        <h3>New Item</h3>
        <hr>
    </div>
</div>
<form>
    <div class='row'>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Item Name</label>
        </div>
        <div class="small-4 columns left">
          <input type="text" id="right-label"/>
        </div>
    </div>
    <div class='row'>
        <div class="small-3 columns">
          <label for="right-label" class="right">Description</label>
        </div>
        <div class="small-5 columns left">
          <textarea id="right-label"></textarea>
        </div>
    </div>
    <div class='row'>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Unit Cost</label>
        </div>
        <div class="small-2 columns left">
          <input type="text" id="right-label"/>
        </div>
    </div>
    <div class='row'>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Quantity</label>
        </div>
        <div class="small-2 columns left">
          <input type="text" id="right-label" value='1'/>
        </div>
    </div>
    <div class='row'>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Taxes</label>
        </div>
        <div class="small-2 columns left">
           <select>
               <option value=""></option>
                <option value="VAT">VAT</option>
            </select>
            
        </div>
        <div class="small-2 columns left">
           <select>
               <option value=""></option>
                <option value="VAT">VAT</option>
        </select>
            
        </div>
    </div>
    <div class="row">
            <div class="small-3 columns">
            <label for="right-label" class="right ">Track Inventory</label>
            </div>
            <div class="small-2 left columns">
                 <input id="checkbox1" type="checkbox"/>
            </div>
    </div>
    <div id='new-item-btns' class='row'>
  <div class='small-8 columns small-offset-3'>
    <ul class="button-group">
        <li><a href="#" class="button large success radius">Save</a></li>
  <li><a href="#" class="button large success radius">Save and Add Another</a></li>
</ul>
  </div>
</div>
</form>