<h3 id='title'>Account</h3>
<ul class="inline-list">
  <li>{{#link-to 'billing'}} Billing info {{/link-to}}</li>
  <li>{{#link-to 'administrator'}} Administrator {{/link-to}}</li>
  <li>{{#link-to 'invite'}} Invite {{/link-to}}</li>
  <li>{{#link-to 'import_export'}} Import & Export {{/link-to}}</li>
  <li>{{#link-to 'basecamp'}} Basecamp {{/link-to}}</li>
  <li>{{#link-to 'api'}} FreshBooks API {{/link-to}}</li>
</ul>

{{outlet}}