<h2 id='title'>Welcome to Freshbooks</h2>

<ul>
  <li>{{#link-to 'home'}} Home {{/link-to}}</li>
  <li>{{#link-to 'people'}} People {{/link-to}}</li>
  <li>{{#link-to 'invoices'}} Invoices {{/link-to}}</li>
  <li>{{#link-to 'estimates'}} Estimates {{/link-to}}</li>
  <li>{{#link-to 'expenses'}} Expenses {{/link-to}}</li>
  <li>{{#link-to 'time'}} Time Tracking {{/link-to}}</li>
  <li>{{#link-to 'reports'}} Reports {{/link-to}}</li>
</ul>

{{outlet}}
