<div class='row'>
    <div class='small-12 columns'> 
        <div class='row'>
            <div data-tooltip  class='panel left has-tip' title='Upload your logo'>
                <img src='https://neilcorp.freshbooks.com/logo/company.v1401586598'>
            </div>
            <div class='panel right small-6 columns'>
            <ul class=' nav-toplinks inline-list'>
                <li>{{#link-to 'addons'}} Add-on Store {{/link-to}}</li>
                <li>{{#link-to 'account'}} My Account {{/link-to}}</li>
                <li>{{#link-to 'settings'}} Settings {{/link-to}}</li>
                <li>{{#link-to 'help'}} Help {{/link-to}}</li>
                <li>{{#link-to 'logout'}} Log out {{/link-to}}</li>
            </ul>
            </div>
        </div>
        
        <div class='row'>
            <div class='panel small-12 columns'>
            <ul class='nav-mainlinks inline-list'>
                <li>{{#link-to 'home'}} Home {{/link-to}}</li>
                <li>{{#link-to 'people'}} People {{/link-to}}</li>
                <li>{{#link-to 'invoices'}} Invoices {{/link-to}}</li>
                <li>{{#link-to 'estimates'}} Estimates {{/link-to}}</li>
                <li>{{#link-to 'expenses'}} Expenses {{/link-to}}</li>
                <li>{{#link-to 'time'}} Time Tracking {{/link-to}}</li>
                <li>{{#link-to 'reports'}} Reports {{/link-to}}</li>
            </ul>
            </div>
        </div>
    </div>
</div>

{{outlet}} 

<div id='footer' class='row'>
    <hr>
    <div class='small-3 columns'>
        <h6 class="subheader">Product</h6>
        <p>Pricing & Upgrade</p>
        <p>Referrals</p>
        <p>Report Card</p>
        <p>New Features</p>
    </div>
    <div class='small-2 columns'>
        <h6 class="subheader">Add-ons</h6>
        <p>Add-on Store</p>
        <p>Mobile</p>
        <p>API</p>
    </div>
    <div class='small-2 columns'>
        <h6 class="subheader">Community</h6>
        <p>Blog</p>
        <p>FAQ</p>
    </div>
    <div class='small-2 columns'>
        <h6 class="subheader">Company</h6>
        <p>Contact</p>
        <p>We're hiring</p>
        <p>Terms of Service</p>
    </div>
    <div class='small-3 columns'>
        <h6 class="subheader">New: Easily Get Feedback From Your Clients</h6>
        <p>No more awkard nudging <a href='#'>Learn More</a></p>
    </div>
</div>