<div class='row'>
    <div class='small-9 columns'>
        <h3>Assign Clients to Staff
        <a href='#'>(Assign Staff to Clients)</a>
            </h3>
    </div>
</div>

<div class='row'>
    <div class='small-12 columns text-center'>
        {{link-to 'Save' 'items.new' class='button success large'}}
    </div>
</div>