<div class='row'>
    <div class='small-12 columns'>
        <ul class='inline-list'>
            <li>{{#link-to 'estimates.index'}} Estimates {{/link-to}}</li>
            <li>{{#link-to 'estimates.received'}} Received {{/link-to}}</li>
            <li>{{#link-to 'items'}} Items {{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}
