<div class='row'>
    <div class='small-12 columns'>
        <ul class='inline-list extra-nav'>
            <li>{{#link-to 'expenses.index'}} Expenses {{/link-to}}</li>
            <li>{{#link-to 'expenses.import'}} File Import {{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}
