<div class='row'>
    <div class='small-12 columns'>
        <ul class='inline-list'>
            <li>{{#link-to 'overview'}} Overview {{/link-to}}</li>
            <li>{{#link-to 'refer'}} Refer FreshBooks {{/link-to}}</li>
            <li>{{#link-to 'pricing'}} Pricing & Upgrade {{/link-to}}</li>
            <li>{{#link-to 'stamps'}} Buy Stamps {{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}
