<div class='row'>
    <div class='small-9 columns'>
        <h3>Overview</h3>
    </div>
<a href="#" class="button split success right">+ New <span data-dropdown="drop"></span></a><br>
<ul id="drop" class="f-dropdown" data-dropdown-content>
  <li><a href="#">Client</a></li>
  <li>{{link-to 'Invoice' 'invoices.new'}} </li>
  <li><a href="#">Estimate</a></li>
  <li><a href="#">Expense</a></li>
  <li><a href="#">Payment</a></li>
  <li><a href="#">Project</a></li>
</ul>
    
</div>
{{outlet}}