<h3 id='title'>Overview</h3>

<a href="#" class="button split">+ New <span data-dropdown="drop"></span></a><br>
<ul id="drop" class="f-dropdown" data-dropdown-content>
  <li><a href="#">Client</a></li>
  <li><a href="#">Invoice</a></li>
  <li><a href="#">Estimate</a></li>
  <li><a href="#">Expense</a></li>
  <li><a href="#">Payment</a></li>
  <li><a href="#">Project</a></li>
</ul>
{{outlet}}