<div class='row'>
    <div class='small-12 columns extra-nav'>
        <ul class='inline-list'>
            <li>{{#link-to 'people.index'}} Clients {{/link-to}}</li>
            <li>{{#link-to 'staff'}} Staff and Contractors {{/link-to}}</li>
            <li>{{#link-to 'assign_clients'}} Assign Clients {{/link-to}}</li>
            <li>{{#link-to 'sent_emails'}} Sent Emails {{/link-to}}</li>
        </ul>
    </div>
</div>
{{outlet}}