<h2 id='title'>People</h2>

<ul>
  <li>{{#link-to 'clients'}} Clients {{/link-to}}</li>
  <li>{{#link-to 'staff'}} Staff and Contractors {{/link-to}}</li>
  <li>{{#link-to 'assign_clients'}} Assign Clients {{/link-to}}</li>
  <li>{{#link-to 'sent_emails'}} Sent Emails {{/link-to}}</li>
</ul>

{{outlet}}