<h3 id='title'>Settings</h3>
<ul>
  <li>{{#link-to 'company'}} Company {{/link-to}}</li>
  <li>{{#link-to 'taxes'}} Taxes {{/link-to}}</li>
  <li>{{#link-to 'colors'}} Colors & Logos {{/link-to}}</li>
  <li>{{#link-to 'template'}} Template {{/link-to}}</li>
  <li>{{#link-to 'permissions'}} Permissions{{/link-to}}</li>
  <li>{{#link-to 'payment'}} Online Payment {{/link-to}}</li>
  <li>{{#link-to 'emails'}} Emails{{/link-to}}</li>
  <li>{{#link-to 'misc'}} Misc {{/link-to}}</li>
</ul>

{{outlet}}