<div class='row'>
    <div class='small-12 columns'>
        <ul class='inline-list'>
            <li>{{#link-to 'time.index'}} Timesheet {{/link-to}}</li>
            <li>{{#link-to 'projects'}} Projects {{/link-to}}</li>
            <li>{{#link-to 'tasks'}} Tasks {{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}
