<div class='row clearfix'>
    <div class='small-9 columns'>
        <h3>Recurring Profiles</h3>
    </div>
        {{link-to '+ New Recurring Profile' 'recurring.new' class='button success right'}}
    </div>