<div class='row'>
    <div class='small-12 columns'>
        <h3>New Client</h3>
        <hr>
    </div>
</div>
<form>
    <div class='row'>
        <div class='small-12 columns'>
            <div class='row'>
                <div class='small-12 small-offset-2 columns'>
                    <h4>Organization</h4>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="right-label" class="right inline">Organization Name</label>
                </div>
                <div class="small-6 columns end">
                    <input type="text" id="right-label">
                </div>
            </div>
            <div class="row">
                <div class="small-3 small-offset-2 columns">
                    <select>
                        <option value='GBP'>GBP</option>
                        </option>
                    </select>
                </div>
                <div class="small-3 columns end">
                    <select>
                        <option value='English'>English</option>
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="right-label" class="right">Send Invoices By</label>
                </div>
                <div class="small-2 columns">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Email</label>

                </div>
                <div class="small-2 columns end">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Snail Mail</label>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class='row'>
        <div class='small-12 columns'>
            <div class='row'>
                <div class='small-12 small-offset-2 columns'>
                    <h4>Contacts</h4>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="right-label" class="right inline">Email</label>
                </div>
                <div class="small-3 columns">
                    <input type="text" id="right-label">
                </div>
                <div class="small-2 columns">
                    <label for="right-label" class="right inline">Home Phone</label>
                </div>
                <div class="small-3 columns end">
                    <input type="text" id="right-label">
                </div>
            </div>
            <hr>
        </div>
        <div class='row'>
            <div class='small-12 columns'>
                <div class='row'>
                    <div class='small-12 small-offset-2 columns'>
                        <h4>Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-2 columns">
                        <label for="right-label" class="right inline">Email</label>
                    </div>
                    <div class="small-3 columns">
                        <input type="text" id="right-label">
                    </div>
                    <div class="small-2 columns">
                        <label for="right-label" class="right inline">Home Phone</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" id="right-label">
                    </div>
                </div>
                <hr>
            </div>

</form>
