<div class='row'>
    <div class='small-12 columns'>
        <h3>New Invoice</h3>
    </div>
</div>
<div class='row'>
  <div class='small-4  columns'>
    <a href="#" class="button large radius secondary">Save as Draft</a>
  </div>
  <div class='small-4  columns'>
    <a href="#" class="button large radius success">Send by Email</a>
  </div>
  <div class='small-4 columns'>
    <a href="#" class="button large radius success">Send by Snail Mail</a>
    <p>Send a hard copy of this invoice to your client via snail mail.</p>
  </div>
</div>