<div class='row'>
    <div class='small-12 columns'>
        <h3>New Invoice</h3>
    </div>
</div>
<div class='row'>
  <div class='small-4 columns text-center'>
    <a href="#" class="button large radius secondary">Save as Draft</a>
     <p>Save this invoice as a draft. Your client will not be able to view this invoice until it is sent.</p>
  </div>
  <div class='small-4  columns text-center'>
    <a href="#" class="button large radius success">Send by Email</a>
    <p>Email this invoice to your client.</p>
  </div>
  <div class='small-4 columns text-center'>
    <a href="#" class="button large radius success">Send by Snail Mail</a>
    <p>Send a hard copy of this invoice to your client via snail mail.</p>
  </div>
</div>