<div class='row'>
    <div class='small-12 columns'>
        <h3>New Invoice</h3>
        <hr>
    </div>
</div>
<div class='row'>
    <div class='small-12 columns'>
    <form>
        <div class='row'>
                <div class='small-5 columns'>
                    <label>Client
                        <select>
                            <option value='option'></option>
                            <option value='new'><a href='#'>[new client]</a></option>
                        </select>
                    </label>
                </div>
                <div class='small-7 columns'>
                    <div class='row'>
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">Invoice Number</label>
                        </div>
                        <div class="small-4 columns left">
                            <input type="text" id="right-label">
                        </div>
                    </div>
                    <div class='row'>
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">Date of Issue</label>
                        </div>
                        <div class="small-4 columns left">
                            <input type="text" id="right-label">
                        </div>
                    </div>
                    <div class='row'>
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">PO Number</label>
                        </div>
                        <div class="small-4 columns left">
                            <input type="text" id="right-label">
                        </div>
                    </div> 
                    <div class='row'>
                        <div class="small-8 columns">
                            <label for="right-label" class="right inline">Discount</label>
                        </div>
                        <div class="small-2 columns left">
                            <input type="text" id="right-label">
                        </div>
                    </div>      
                    <div class='row'>
                        <div class="small-8 columns">
                            <label for="right-label" class="right">Online Payment</label>
                        </div>
                        <div class="small-4 columns left">
                            <a href='#'>Set up online payments</a>
                        </div>
                    </div>     
                </div>
        </div>
        <div class='row'>
            <div class='small-6 columns'>
                <label>Terms (<a href='#'>Set Default Terms</a>)
                    <textarea></textarea>
                </label>
            </div>
            <div class='small-5 columns'>
                <label>Notes Visible to Client
                    <textarea></textarea>
                </label>
            </div>
        </div>
    </form>
    </div>
</div>
<div class='row'>
  <div class='small-4 columns text-center'>
    <a href="#" class="button large radius secondary">Save as Draft</a>
     <p>Save this invoice as a draft. Your client will not be able to view this invoice until it is sent.</p>
  </div>
  <div class='small-4  columns text-center'>
    <a href="#" class="button large radius success">Send by Email</a>
    <p>Email this invoice to your client.</p>
  </div>
  <div class='small-4 columns text-center'>
    <a href="#" class="button large radius success">Send by Snail Mail</a>
    <p>Send a hard copy of this invoice to your client via <a href='#'>snail mail</a>.</p>
    <p>You have 2 stamps. <a href='#'>Buy stamps</a>
or <a href='#'>send a free sample</a>.</p>
  </div>
</div>
<div class='row'>
    <div class='text-center'><p>* This is how your client likes to receive invoices.</p></div>
</div>